---
layout: default
title: Borsetshire East
slug: area
---

<div class="px-4 px-lg-5 py-3 bg-black">
    <div class="container">
        {% include header.html %}
    </div>
</div>

<div class="py-4 py-lg-5 js-default">
    <div class="container">
        <div class="row gx-lg-5 mb-3 pb-3 border-bottom">
            <div class="col-12 col-lg-6">
                <h1 class="fs-2 mb-2 js-area-name">{{ page.title }}</h1>
                <dl class="d-flex flex-row mb-0">
                    {% comment %} I want to give each country/local government their
                    own colour so it's more visually distinctive {% endcomment %}
                    <dt class="visually-hidden">Country</dt>
                    <dd class="badge bg-info me-2 fs-6 js-area-country">England</dd>

                    <dt class="visually-hidden">Region</dt>
                    <dd class="badge bg-info me-2 fs-6 js-area-region">North England</dd>

                    <dt class="visually-hidden">County</dt>
                    <dd class="badge bg-info me-2 fs-6 js-area-county">Borsetshire</dd>

                    {% comment %} <dt class="visually-hidden">Local Government</dt>
                    <dd class="badge bg-danger">Conservative</dd> {% endcomment %}
                </dl>
            </div>
            <div class="col-lg-4 offset-lg-2 mt-4 mt-lg-0">
                <dl class="d-flex flex-row justify-content-between">
                    <div>
                        <dt class="fs-6 fw-bold">Police commissioner</dt>
                        <dd>John Doe</dd>
                    </div>
                    <div>
                        <dt class="fs-6 fw-bold">Police Force</dt>
                        <dd>North East</dd>
                    </div>
                </dl>
                <a href="#local-goverment" class="d-table me-lg-0 ms-lg-auto">Check local government</a>
            </div>
        </div>
        <div class="row gx-lg-5 mt-3">
            <div class="col-lg-3">
                <div class="position-lg-sticky mb-6" style="top:10px">
                    <div class="bg-green-100 px-3 py-4 border">
                        <h2 class="fs-4 mb-3 pb-3 text-primary">Add metrics</h2>
                        {% include metrics.html %}
                    </div>
                    <div class="p-3 bg-white mt-4 border">
                        <a href="" class="btn btn-outline-secondary btn-sm d-block mb-3">Download CSV data</a>
                        <a href="" class="btn btn-outline-secondary btn-sm d-block">Cite this page</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="mb-8">
                    <div class="row mb-6">
                        <div class="col-10">
                            <h3 class="fs-3 lh-base fw-normal">In <span class="js-area-name">Borsetshire East</span>, <span class="fs-2 text-primary fw-bold">Black people</span> are <span class="js-data fs-2 text-primary fw-bold" data-metric="rr" data-format="ratio-as-percentage">310%</span> <span class="js-data" data-metric="rr" data-format="ratio-as-more-or-less">more</span> likely to be stopped and searched</h3>
                            <a href="#risk-ratio-section">Explain this data</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6 d-flex flex-row mb-4">
                            <h3 class="fs-4 me-2">Stop Rates by ethnicity</h3>
                            <p class="fs-6 badge bg-primary metric-year">All time</p>
                        </div>

                        {% comment %}
                        <div class="row mb-4">
                            <div class="col-12 col-sm-4 metric-object">
                                <small class="d-block fw-bold">Reason for search</small>
                                <p class="mb-3 badge bg-primary js-value">All</p>
                            </div>
                            <div class="col-12 col-sm-4 metric-legislation">
                                <small class="d-block fw-bold">Legislation</small>
                                <p class="mb-3 badge bg-primary js-value">All</p>
                            </div>
                            <div class="col-12 col-sm-4 metric-outcome">
                                <small class="d-block fw-bold">Outcome</small>
                                <p class="mb-3 badge bg-primary js-value">All</p>
                            </div>
                        </div>
                        {% endcomment %}

                        <div class="row mb-6">
                            <div class="col-12 col-lg-5 d-flex flex-column flex-md-row text-end">
                                <div>
                                    <h4 class="fs-3 text-primary mb-3">Black</h4>
                                    <p class="fs-m1 lh-1 mb-1 js-dynamic-percentage"><span class="js-data" data-metric="stop_rate" data-ethnicity="Black">54%</span></p>
                                    <div>
                                        <span class="fw-bold fs-4 js-dynamic-number js-data" data-metric="number_stopped" data-ethnicity="Black">3,890</span>
                                        <span class="fs-6">stops</span>
                                    </div>
                                    <div>
                                        <span class="fw-bold fs-4 js-dynamic-number js-data" data-metric="population" data-year="0" data-ethnicity="Black">2,530</span>
                                        <span class="fs-6">population</span>
                                    </div>
                                </div>
                                <div class="border border-primary d-flex align-items-end text-white ms-3">
                                    <div class="d-block py-0 px-4 bg-primary js-dynamic-bar js-data" data-metric="stop_rate" data-ethnicity="Black" data-format="comparison-percentage" data-target="height" style="height:54%"></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 d-flex flex-column flex-md-row text-start">
                                <div class="border border-primary d-flex align-items-end text-white me-3">
                                    <div class="d-block py-0 px-4 bg-primary js-dynamic-bar js-data" data-metric="stop_rate" data-ethnicity="White" data-format="comparison-percentage" data-target="height" style="height:45%"></div>
                                </div>
                                <div>
                                    <h4 class="fs-3 text-primary mb-3">White</h4>
                                    <p class="fs-m1 lh-1 mb-1 js-dynamic-percentage"><span class="js-data" data-metric="stop_rate" data-ethnicity="White">45%</span></p>
                                    <div>
                                        <span class="fw-bold fs-4 js-dynamic-number js-data" data-metric="number_stopped" data-ethnicity="White">2,530</span>
                                        <span class="fs-6">stops</span>
                                    </div>
                                    <div>
                                        <span class="fw-bold fs-4 js-dynamic-number js-data" data-metric="population" data-year="0" data-ethnicity="White">2,530</span>
                                        <span class="fs-6">population</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4 metric-object">
                            <h3 class="fs-3">Reason for search</h3>
                            <div id="bar-object-of-search" class="js-bar" data-metric="object_of_search" data-title="Reason for search"></div>
                        </div>

                        <div class="row mb-4 metric-object">
                            <h3 class="fs-3">Legislation</h3>
                            <div id="bar-legislation" class="js-bar" data-metric="legislation" data-title="Legislation"></div>
                        </div>

                        <div class="row mb-4 metric-object">
                            <h3 class="fs-3">Outcome</h3>
                            <div id="bar-outcome" class="js-bar" data-metric="outcome" data-title="Outcome"></div>
                        </div>

                        <div class="row mt-6 mb-2">
                            <div id="risk-ratio-section" class="col-12">
                                <h3 class="fs-3 lh-base">In <span class="js-area-name">Borsetshire East</span> the risk ratio is <span class="js-data" data-metric="rr">3.10</span></h3>
                                <p>In percentage terms, this means that Black people are <span class="js-data text-primary fw-bold" data-metric="rr" data-format="ratio-as-percentage">310%</span> <span class="js-data" data-metric="rr" data-format="ratio-as-more-or-less">more</span> likely to be stopped and searched.</p>
                            </div>
                        </div>

                        <div class="row text-end">
                            <div class="col-2 py-3">
                                <p class="mb-0 lh-1 text-muted">Year</p>
                                <p class="mb-0 fw-bold metric-year">All time</p>
                            </div>
                            <div class="col-10 border-top border-bottom border-grey-100 position-relative">
                                <div id="plot-year" class="js-plot"></div>
                            </div>
                        </div>
                        {% comment %}
                        <div class="row text-end js-dynamic-metric-content metric-object">
                            <div class="col-2 py-3">
                                <p class="mb-0 lh-1 text-muted">Reason for search</p>
                                <p class="mb-0 fw-bold js-value">All</p>
                            </div>
                            <div class="col-10 border-top border-bottom border-grey-100 position-relative">
                                <div id="plot-object-of-search"></div>
                            </div>
                        </div>
                        <div class="row text-end js-dynamic-metric-content metric-legislation">
                            <div class="col-2 py-3">
                                <p class="mb-0 lh-1 text-muted">Legislation</p>
                                <p class="mb-0 fw-bold js-value">All</p>
                            </div>
                            <div class="col-10 border-top border-bottom border-grey-100 position-relative">
                                <div id="plot-legislation"></div>
                            </div>
                        </div>
                        <div class="row text-end js-dynamic-metric-content metric-outcome">
                            <div class="col-2 py-3">
                                <p class="mb-0 lh-1 text-muted">Outcome</p>
                                <p class="mb-0 fw-bold js-value">All</p>
                            </div>
                            <div class="col-10 border-top border-bottom border-grey-100 position-relative">
                                <div id="plot-outcome"></div>
                            </div>
                        </div>
                        {% endcomment %}
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <div id="plot-footer"></div>
                            </div>
                        </div>

                        <div class="row my-2">
                            <p>The confidence intervals are <span class="js-data text-primary fw-bold" data-metric="rr" data-metric-category="rr_ci_low">2.90</span> to <span class="js-data text-primary fw-bold" data-metric="rr" data-metric-category="rr_ci_upp">3.10</span>.</p>
                            <p>Data often reveals Black people are significantly more likely to be stopped and searched than White people, a racial disparity evident in risk ratios and confidence intervals that exceed 1, or 0% in percentage terms.</p>
                            <details>
                                <summary>What are <strong>risk ratios</strong></summary>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <div class="p-3 mt-4 bg-light border">
                                            <h5>Risk ratio</h5>
                                            <p>The risk ratio describes the likelihood of a Black person being stopped and searched relative to the likelihood of a White person being stopped and searched.</p>
                                            <p>If the risk ratio is 1, it means that the likelihood of being stopped is the same for Black and White people.</p>
                                            <p>If the risk ratio is greater than 1, it means that the likelihood of being stopped is greater for Black people compared to White people. For example, a risk ratio of 2 would people that Black people are 2 times more likely to be stopped and searched than White people.</p>
                                            <p>If the risk ratio is less than 1, it means that the likelihood of being stopped is lower for Black people compared to White people. For example, a risk ratio of 0.50 would people that Black people are 50% less likely to be stopped and searched compared to White people.</p>
                                        </div>
                                    </div>
                                </div>
                            </details>
                            <details>
                                <summary>What are <strong>confidence intervals</strong></summary>
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <div class="p-3 mt-4 bg-light border">
                                            <h5>Confidence intervals</h5>
                                            <p>Because the risk ratio is an estimate, we cannot be 100% certain that the value is correct. However, we can estimate the range of values that the risk ratio is likely to be. This is what the bars on the graph represent (known as the 95% confidence interval). In essence, wider bars people less certainty in the risk ratio (because there is a wider range of possible values it could be), whilst narrower bars people more certainty in the risk ratio (because there is a narrower range of possible values it could be).</p>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>
                    </div>
                </div>
                <div data-area-type="council">
                    <h3 class="fs-3 mb-3">Local government</h3>
                    {% include area-info.html %}
                </div>
                <div data-area-type="police-force" hidden>
                    <h3 class="fs-3 mb-3">Local government</h3>
                    {% include area-police-force-local-government.html %}
                </div>
            </div>
        </div>
    </div>
</div>
