---
layout: default
title: Borsetshire East
slug: area
---
{% include area-methodology.html %}

{% assign ethnicities = "White, Black, Mixed_Black, Asian, Mixed_Asian, Other, Mixed_Other" | split: ", " %}

<script>window.barChartEthnicities = "{{ ethnicities | reverse | join: "," }},All".split(',')</script>

<div class="py-4 py-lg-5 js-default  js-dynamic-ethnicity-comparisson" data-ethnicity-comparisson-active="black">
    <div class="container pb-6">
        <div class="row gx-lg-5 mb-4 mb-lg-0">
            <div class="col-lg-6">
                <h1 class="fs-2 mb-2 js-area-name">{{ page.title }}</h1>
                <dl class="d-flex flex-row mb-0">
                    {% comment %} I want to give each country/local government their
                    own colour so it's more visually distinctive {% endcomment %}
                    <dt class="visually-hidden">Country</dt>
                    <dd class="badge bg-info me-2 fs-m6 js-area-country">England</dd>

                    <dt class="visually-hidden">Region</dt>
                    <dd class="badge bg-info me-2 fs-m6 js-area-region">North England</dd>

                    <dt class="visually-hidden">County</dt>
                    <dd class="badge bg-info me-2 fs-m6 js-area-county">Borsetshire</dd>

                    {% comment %} <dt class="visually-hidden">Local Government</dt>
                    <dd class="badge bg-danger">Conservative</dd> {% endcomment %}
                </dl>
            </div>
        </div>
        <div class="row gx-lg-5 position-sticky top-0" style="z-index: 1">
            <div class="col-lg-9 offset-lg-3 d-flex flex-column justify-content-end">
                <div class="d-flex align-items-end justify-content-end bg-white border-bottom border-primary border-2">
                    <a href="#stats-section" type="button" class="btn btn-primary btn-sm py-2 px-3 rounded-0 d-flex flex-column flex-sm-row align-items-center" aria-pressed="true">
                        {% include icons/stats.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                        <span>Stats by ethnicities</span>
                    </a>
                    <a href="#local-government-section" type="button" class="btn btn-primary btn-sm py-2 px-3 rounded-0 d-flex flex-column flex-sm-row align-items-center">
                        {% include icons/people.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                        <span>Local MPs</span>
                    </a>
                    <a href="#police-force-section" type="button" class="btn btn-primary btn-sm py-2 px-3 rounded-0 d-flex flex-column flex-sm-row align-items-center">
                        {% include icons/police.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                        <span>Police Commissioner</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row gx-lg-5">
            <div class="col-lg-3">
                <div class="position-lg-sticky mb-6 top-0">

                    <div class="ethnicity-filter bg-green-100 p-3 mb-5 border rounde">
                        <h4 class="fs-5 mb-3">Filter by ethnicity</h4>
                        <div class="d-flex flex-row flex-wrap" style="gap: 0.5rem">
                            {% for ethnicity in ethnicities %}
                                {% assign key = ethnicity | downcase | replace: "_", "-" %}
                                {% assign title = ethnicity | replace: "_", " " %}
                                {% if key != 'white' %}
                            <button type="button" class="ethnicity-filter-btn btn btn-outline-et-{{ key }} btn-sm" data-ethnicity-comparisson="{{ key }}">{{ title }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="bg-green-100 px-3 py-4 border">
                        <h2 class="fs-4 mb-3 pb-3 text-primary">Add metrics</h2>
                        {% include metrics.html %}
                    </div>

                    <a href="" class="btn btn-outline-secondary btn-sm d-block my-4">Download CSV data</a>

                    <div class="card">
                        <a id="copy-to-clipboard-btn" class="rounded-0 btn btn-primary fw-normal">
                            Cite this page
                            {% include icons/copy-to-clipboard.html width="2em" height="2em" classes="" %}
                        </a>
                        <div class="card-body">
                            <span id="copy-to-clipboard-text" class="fs-m6">
                                {% assign full_url = request.host | append: request.path %}
                                Black thrive, mySociety (2023). Stop & Search:
                                <span class="js-area-name">{{ page.title }}</span>
                                <span class="js-area-url">{{ '/area' | absolute_url }}</span>
                                <span id="js-page-date" class="d-block">Accessed 23 Aug 2023</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="stats-section" class="col-lg-9">
                <div class="mb-8 mt-5">
                    <div class="row mb-6">
                        {% for ethnicity in ethnicities %}
                            {% assign key = ethnicity | downcase | replace: "_", "-" %}
                            {% assign title = ethnicity | replace: "_", " " %}
                            {% if key != 'white' %}
                        <div class="col-12 js-ethnicity-comparisson-{{ key }}">
                            <p class="fs-6 badge bg-info metric-year mb-2">All time</p>
                            <h3 class="fs-3 lh-base fw-normal">In <span class="js-area-name">Borsetshire East</span>, the <span class="fs-2 text-primary fw-bold text-et-{{ key }}">{{ title }} population</span> are <span class="js-data fs-2 text-primary fw-bold text-et-{{ key }}" data-ethnicity="{{ ethnicity }}" data-metric="rr" data-format="ratio-as-percentage">310%</span> <span class="js-data" data-ethnicity="{{ ethnicity }}" data-metric="rr" data-format="ratio-as-more-or-less">more</span> likely to be stopped and searched</h3>
                            <a href="#risk-ratio-section">Explain this data</a>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6 d-flex flex-row mb-3">
                            <h3 class="fs-4 me-2">Stop Rates by ethnicity</h3>
                            <p class="fs-6 badge bg-info metric-year">All time</p>
                        </div>

                        {% comment %} Visible only on large screens {% endcomment %}
                        <div class="d-none d-lg-block">
                            <div class="row mb-3">
                                <div class="col-2 d-flex align-items-end">
                                    <p class="fs-6 fw-bold mb-0">Ethnicity</p>
                                </div>
                                <div class="col-3 d-flex align-items-end">
                                    <p class="fs-6 fw-bold mb-0">Proportion</p>
                                </div>
                                <div class="col-2 d-flex align-items-end text-end">
                                    <p class="fs-6 fw-bold mb-0">Stops</p>
                                </div>
                                <div class="col-2 d-flex align-items-end text-end">
                                    <p class="fs-6 fw-bold mb-0">Population</p>
                                </div>
                                <div class="col-3 d-flex align-items-end flex-column text-end">
                                    <p class="fs-6 fw-bold mb-0">Likehood of being stop</p>
                                    <span class="fs-m6 lh-1">Compare with white population</span>
                                </div>
                            </div>

                            {% for ethnicity in ethnicities %}
                                {% assign key = ethnicity | downcase | replace: "_", "-" %}
                                {% assign title = ethnicity | replace: "_", " " %}
                            <hr class="opacity-25 my-3">

                            <div class="row">
                                <div class="col-2">
                                  <h4 class="fs-3 text-et-{{ key }} mb-3">{{ title }}</h4>
                                </div>
                                <div class="col-3">
                                    <p class="fs-4 lh-1 mb-2 js-dynamic-percentage"><span class="js-data" data-metric="stop_rate" data-ethnicity="{{ ethnicity }}"></span></p>
                                    <div class="border border-et-{{ key }} d-flex align-items-end text-white">
                                        <div class="d-block py-0 py-3 bg-et-{{ key }} js-dynamic-bar js-data" data-metric="stop_rate" data-ethnicity="{{ ethnicity }}" data-format="comparison-percentage" data-target="width"></div>
                                    </div>
                                </div>
                                <div class="col-2 text-end">
                                    <span class="fs-4 js-dynamic-number js-data" data-metric="number_stopped" data-ethnicity="{{ ethnicity }}"></span>
                                </div>
                                <div class="col-2 text-end">
                                    <span class="fs-4 js-dynamic-number js-data" data-metric="population" data-year="0" data-ethnicity="{{ ethnicity }}"></span>
                                </div>
                                <div class="col-3 text-end">
                                    {% if key == 'white' %}
                                    <span class="fs-4">NA</span>
                                    {% else %}
                                    <span class="js-data fs-4" data-metric="rr" data-format="ratio-as-percentage" data-ethnicity="{{ ethnicity }}"></span>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        {% comment %} Visible only below large screens {% endcomment %}
                        <div class="d-lg-none">
                            {% for ethnicity in ethnicities %}
                                {% assign key = ethnicity | downcase | replace: "_", "-" %}
                                {% assign title = ethnicity | replace: "_", " " %}
                            <div class="card col-md-6 mb-3">
                                <div class="card-header text-bg-et-{{ key }} fw-bold">
                                    {{ title }} population
                                </div>
                                <div class="card-body d-flex flex-column gap-4">
                                    <div>
                                        <p class="badge bg-secondary mb-1">Stop proportion</p>
                                        <div class="d-flex flex-row align-items-center gap-3">
                                            <p class="fs-4 lh-1 js-dynamic-percentage mb-0"><span class="js-data" data-metric="stop_rate" data-ethnicity="{{ ethnicity }}"></span></p>
                                            <div class="flex-grow-1 border border-et-{{ key }} d-flex align-items-end text-white">
                                                <div class="d-block py-0 py-3 bg-et-{{ key }} js-dynamic-bar js-data" data-metric="stop_rate" data-ethnicity="{{ ethnicity }}" data-format="comparison-percentage" data-target="width"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-column gap-1 align-items-start">
                                        <p class="badge bg-secondary mb-0">Stops</p>
                                        <span class="fs-4 js-dynamic-number js-data" data-metric="number_stopped" data-ethnicity="{{ ethnicity }}"></span>
                                    </div>

                                    <div class="d-flex flex-column gap-1 align-items-start">
                                        <p class="badge bg-secondary mb-0">Total population</p>
                                        <span class="fs-4 js-dynamic-number js-data" data-metric="population" data-year="0" data-ethnicity="{{ ethnicity }}"></span>
                                    </div>

                                    {% if key != 'white' %}
                                    <div class="d-flex flex-column gap-1 align-items-start">
                                        <p class="badge bg-secondary mb-0">Likehood of being stop*</p>
                                        <span class="js-data fs-4" data-metric="rr" data-format="ratio-as-percentage" data-ethnicity="{{ ethnicity }}"></span>
                                        <span class="fs-m6 lh-1">* Compare with white population</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="accordion" id="accordionBreakdown">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="bySearch">
                                <button class="accordion-button fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    By reason for search
                                </button>
                            </h3>
                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="bySearch" data-bs-parent="#accordionBreakdown">
                                <div class="accordion-body">
                                    <div id="bar-object-of-search" class="js-bar" data-metric="object_of_search" data-title="Reason for search"></div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h3 class="accordion-header" id="byLegislation">
                                <button class="accordion-button collapsed fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    By legislation
                                </button>
                            </h3>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="byLegislation" data-bs-parent="#accordionBreakdown">
                                <div class="accordion-body">
                                    <div id="bar-legislation" class="js-bar" data-metric="legislation" data-title="Legislation"></div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h3 class="accordion-header" id="byOutcome">
                                <button class="accordion-button collapsed fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  By outcome
                                </button>
                            </h3>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="byOutcome" data-bs-parent="#accordionBreakdown">
                                <div class="accordion-body">
                                    <div id="bar-outcome" class="js-bar" data-metric="outcome" data-title="Outcome"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="risk-ratio-section" class="col-12">
                        {% for ethnicity in ethnicities %}
                            {% assign key = ethnicity | downcase | replace: "_", "-" %}
                            {% assign title = ethnicity | replace: "_", " " %}
                            {% if key != 'white' %}
                        <div class="row mt-6 mb-2 js-ethnicity-comparisson-{{ key }}">
                                <h3 class="fs-3 lh-base">In <span class="js-area-name">Borsetshire East</span> the risk ratio is <span class="js-data" data-metric="rr" data-ethnicity="{{ ethnicity }}">3.10</span> for the <span class="text-et-{{ key }}">{{ title }} population</span></h3>
                                <p class="fs-5">In percentage terms, this means that the <span class="fw-bold text-et-{{ key }}">{{ title }} population</span> are <span class="js-data text-et-{{ key }} fw-bold" data-metric="rr" data-format="ratio-as-percentage" data-ethnicity="{{ ethnicity }}"></span> <span class="js-data" data-metric="rr" data-format="ratio-as-more-or-less" data-ethnicity="{{ ethnicity }}">more</span> likely to be stopped and searched.</p>

                            <div class="row text-end mt-5">
                                <div class="col-2 py-3">
                                    <p class="mb-0 lh-1 text-muted">Year</p>
                                    <p class="mb-0 fw-bold metric-year">All time</p>
                                </div>
                                <div class="col-10 border-top border-bottom border-grey-100 position-relative">
                                    <div class="js-plot" data-plot="year" data-ethnicity="{{ ethnicity }}"></div>
                                </div>
                            </div>
                            {% comment %}
                            <div class="row text-end js-dynamic-metric-content metric-object">
                                <div class="col-2 py-3">
                                    <p class="mb-0 lh-1 text-muted">Reason for search</p>
                                    <p class="mb-0 fw-bold js-value">All</p>
                                </div>
                                <div class="col-10 border-top border-bottom border-grey-100 position-relative">
                                    <div class="js-plot" data-plot="object-of-search" data-ethnicity="{{ ethnicity }}"></div>
                                </div>
                            </div>
                            <div class="row text-end js-dynamic-metric-content metric-legislation">
                                <div class="col-2 py-3">
                                    <p class="mb-0 lh-1 text-muted">Legislation</p>
                                    <p class="mb-0 fw-bold js-value">All</p>
                                </div>
                                <div class="col-10 border-top border-bottom border-grey-100 position-relative">
                                    <div class="js-plot" data-plot="legislation" data-ethnicity="{{ ethnicity }}"></div>
                                </div>
                            </div>
                            <div class="row text-end js-dynamic-metric-content metric-outcome">
                                <div class="col-2 py-3">
                                    <p class="mb-0 lh-1 text-muted">Outcome</p>
                                    <p class="mb-0 fw-bold js-value">All</p>
                                </div>
                                <div class="col-10 border-top border-bottom border-grey-100 position-relative">
                                    <div class="js-plot" data-plot="outcome" data-ethnicity="{{ ethnicity }}"></div>
                                </div>
                            </div>
                            {% endcomment %}
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-10">
                                    <div class="js-plot" data-plot="footer"></div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <p>The confidence intervals are <span class="js-data text-primary fw-bold text-et-{{ key }}" data-metric="rr" data-metric-category="rr_ci_low" data-ethnicity="{{ ethnicity }}">2.90</span> to <span class="js-data text-primary fw-bold text-et-{{ key }}" data-metric="rr" data-metric-category="rr_ci_upp" data-ethnicity="{{ ethnicity }}">3.10</span>.</p>
                                <p>Data often reveals {{ title }} population are significantly more likely to be stopped and searched than White population, a racial disparity evident in risk ratios and confidence intervals that exceed 1, or 0% in percentage terms.</p>
                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="accordion mt-4" id="riskAccordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="riskAccordionHeadingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#riskAccordionCollapseOne" aria-expanded="false" aria-controls="riskAccordionCollapseOne">

                                What are&nbsp;<span class="fw-bold">risk ratios</span>?
                            </button>
                          </h2>
                          <div id="riskAccordionCollapseOne" class="accordion-collapse collapse" aria-labelledby="riskAccordionHeadingOne" data-bs-parent="#riskAccordion">
                            <div class="accordion-body">
                                <p>The risk ratio describes the likelihood of a {{ title }} person being stopped and searched relative to the likelihood of a White person being stopped and searched.</p>
                                <p>If the risk ratio is 1, it means that the likelihood of being stopped is the same for the Black and White population.</p>
                                <p>If the risk ratio is greater than 1, it means that the likelihood of being stopped is greater for the Black population compared to White population. For example, a risk ratio of 2 would mean that the Black population are 2 times more likely to be stopped and searched than the White population.</p>
                                <p>If the risk ratio is less than 1, it means that the likelihood of being stopped is lower for the Black population compared to the White population. For example, a risk ratio of 0.50 would mean that the Black population are 50% less likely to be stopped and searched compared to the White population.</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="riskAccordionheadingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#riskAccordionCollapseTwo" aria-expanded="false" aria-controls="riskAccordionCollapseTwo">
                                What are&nbsp;
                                <span class="fw-bold"> confidence intervals</span>?
                            </button>
                          </h2>
                          <div id="riskAccordionCollapseTwo" class="accordion-collapse collapse" aria-labelledby="riskAccordionheadingTwo" data-bs-parent="#riskAccordion">
                            <div class="accordion-body">
                                <p>Because the risk ratio is an estimate, we cannot be 100% certain that the value is correct. However, we can estimate the range of values that the risk ratio is likely to be. This is what the bars on the graph represent (known as the 95% confidence interval). In essence, wider bars means less certainty in the risk ratio (because there is a wider range of possible values it could be), whilst narrower bars means more certainty in the risk ratio (because there is a narrower range of possible values it could be).</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                {% include section-mp.html %}
                {% include section-police-force.html %}
            </div>
        </div>
    </div>
</div>
