---
layout: default
title: Borsetshire East
slug: area
---

<div class="px-4 px-lg-5 py-3 bg-black">
    <div class="container">
        {% include header.html %}
    </div>
</div>

<div class="py-4 py-lg-5 js-default">
    <div class="container">
        <h1 class="mb-6"><span class="js-area-name">{{ page.title }}</span></h1>

        <div class="row gx-lg-5">
            <div class="col-lg-5 col-xl-3">
                <div class="bg-green-100 px-3 py-4 position-lg-sticky border mb-6" style="top:10px">
                    <h2 class="fs-4 mb-3 pb-3 text-primary">Add metrics</h2>
                    {% include metrics.html %}
                </div>
            </div>

            <div class="col-lg-7 col-xl-9">
                <h2 class="mt-3 mb-3 pb-3 border-bottom text-primary">Area dashboard</h2>

                <div class="mb-8">
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <h3 class="fs-4 mb-2">Stop Rates by ethnicity</h3>
                            <p class="fs-6 mb-3 badge bg-primary metric-year">All time</p>
                        </div>
                    </div>

                    <div class="row gx-lg-5 mt-2">
                        <div class="col-lg-6">
                            <h4 class="fs-3 text-primary mb-3">Black</h4>
                            <p class="fs-m1 lh-1 mb-1">54%</p>
                            <div>
                                <span class="fw-bold fs-4">3,890</span>
                                <span class="fs-6">number of cases</span>
                            </div>
                            <div class="border border-primary">
                                <div class="d-block py-3 px-2 bg-primary" style="width:54%"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="fs-3 text-primary mb-3">White</h4>
                            <p class="fs-m1 lh-1 mb-1">45%</p>
                            <div>
                                <span class="fw-bold fs-4">2,530</span>
                                <span class="fs-6">number of cases</span>
                            </div>
                            <div class="border border-primary">
                                <div class="d-block py-3 px-2 bg-primary" style="width:45%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-6 border-top py-4 js-dinamic-metric-content">
                        <h3 class="fs-4 mb-3">Stop Rates by metrics</h3>
                        <p class="fs-6 mb-3 badge bg-primary metric-year">All time</p>
                        <div class="row mb-4 gx-lg-5">
                            <div class="col-12 col-sm-4">
                                <small class="d-block fw-bold">Object of search</small>
                                <p class="mb-3 badge bg-primary metric-object">All</p>
                            </div>
                            <div class="col-12 col-sm-4">
                                <small class="d-block fw-bold">Legislation</small>
                                <p class="mb-3 badge bg-primary metric-legislation">All</p>
                            </div>
                            <div class="col-12 col-sm-4">
                                <small class="d-block fw-bold">Outcome</small>
                                <p class="mb-3 badge bg-primary metric-outcome">All</p>
                            </div>
                        </div>
                        <div class="row gx-lg-5">
                            <div class="col-lg-6">
                                <h4 class="fs-3 text-primary mb-3">Black</h4>
                                <p class="fs-m1 lh-1 mb-1 js-dinamic-percentage">54%</p>
                                <div>
                                    <span class="fw-bold fs-4 js-dinamic-number">3,890</span>
                                    <span class="fs-6">number of cases</span>
                                </div>
                                <div class="border border-primary">
                                    <div class="d-block py-3 px-2 bg-primary js-dinamic-bar" style="width:54%"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="fs-3 text-primary mb-3">White</h4>
                                <p class="fs-m1 lh-1 mb-1 js-dinamic-percentage">45%</p>
                                <div>
                                    <span class="fw-bold fs-4 js-dinamic-number">2,530</span>
                                    <span class="fs-6">number of cases</span>
                                </div>
                                <div class="border border-primary">
                                    <div class="d-block py-3 px-2 bg-primary js-dinamic-bar" style="width:45%"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-6">
                        <div class="row mb-4">
                            <div class="col-12 col-sm-8">
                                <h3 class="fs-4 mb-3">Odd Ratio</h3>
                                <p class="mb-2">Chance of a black person to get stopped compare to a white person.</p>
                                <p><strong>Example:</strong> an Odd ratio of 3 means that a black person is three times more likely to get stopped than a white person.</p>
                            </div>
                        </div>

                        <div class="row text-end">
                            <div class="col-4 py-3">
                                <p class="mb-0 lh-1 text-muted">Year</p>
                                <p class="mb-0 fw-bold metric-year">All time</p>
                            </div>
                            <div class="col-8 border-top border-bottom border-grey-100 position-relative">
                                <div class="forest-point bg-primary position-absolute" style="width: 25px;height: 5px;top: 50%;left: 53%;"></div>
                                <div class="row  h-100 position-relative">
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-end js-dinamic-metric-content">
                            <div class="col-4 py-3">
                                <p class="mb-0 lh-1 text-muted">Object of seach</p>
                                <p class="mb-0 fw-bold metric-object">All</p>
                            </div>
                            <div class="col-8 border-top border-bottom border-grey-100 position-relative">
                                <div class="forest-point bg-primary position-absolute" style="width: 25px;height: 5px;top: 50%;left: 50%;"></div>
                                <div class="row  h-100 position-relative">
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-end js-dinamic-metric-content">
                            <div class="col-4 py-3">
                                <p class="mb-0 lh-1 text-muted">Legislation</p>
                                <p class="mb-0 fw-bold metric-legislation">All</p>
                            </div>
                            <div class="col-8 border-top border-bottom border-grey-100 position-relative">
                                <div class="forest-point bg-primary position-absolute" style="width: 25px;height: 5px;top: 50%;left: 50%;"></div>
                                <div class="row  h-100 position-relative">
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-end js-dinamic-metric-content">
                            <div class="col-4 py-3">
                                <p class="mb-0 lh-1 text-muted">Outcome</p>
                                <p class="mb-0 fw-bold metric-outcome">All</p>
                            </div>
                            <div class="col-8 border-top border-bottom border-grey-100 position-relative">
                                <div class="forest-point bg-primary position-absolute" style="width: 25px;height: 5px;top: 50%;left: 63%;"></div>
                                <div class="row  h-100 position-relative">
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-4 text-center">1</div>
                                    <div class="col-4 text-center">3</div>
                                    <div class="col-4 text-center">5</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-6">
                        <div class="row mb-4">
                            <div class="col-12 col-sm-8">
                                <h3 class="fs-4 mb-3">Risk Ratio</h3>
                                <p class="mb-2">Chance of a black person to get stopped compare to a white person.</p>
                                <p><strong>Example:</strong> a Risk ratio of 3 means that a black person is three times more likely to get stopped than a white person.</p>
                            </div>
                        </div>

                        <div class="row text-end">
                            <div class="col-4 py-3">
                                <p class="mb-0 lh-1 text-muted">Year</p>
                                <p class="mb-0 fw-bold metric-year">All time</p>
                            </div>
                            <div class="col-8 border-top border-bottom border-grey-100 position-relative">
                                <div class="forest-point bg-primary position-absolute" style="width: 25px;height: 5px;top: 50%;left: 53%;"></div>
                                <div class="row  h-100 position-relative">
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-end js-dinamic-metric-content">
                            <div class="col-4 py-3">
                                <p class="mb-0 lh-1 text-muted">Object of seach</p>
                                <p class="mb-0 fw-bold metric-object">All</p>
                            </div>
                            <div class="col-8 border-top border-bottom border-grey-100 position-relative">
                                <div class="forest-point bg-primary position-absolute" style="width: 25px;height: 5px;top: 50%;left: 50%;"></div>
                                <div class="row  h-100 position-relative">
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-end js-dinamic-metric-content">
                            <div class="col-4 py-3">
                                <p class="mb-0 lh-1 text-muted">Legislation</p>
                                <p class="mb-0 fw-bold metric-legislation">All</p>
                            </div>
                            <div class="col-8 border-top border-bottom border-grey-100 position-relative">
                                <div class="forest-point bg-primary position-absolute" style="width: 25px;height: 5px;top: 50%;left: 50%;"></div>
                                <div class="row  h-100 position-relative">
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-end js-dinamic-metric-content">
                            <div class="col-4 py-3">
                                <p class="mb-0 lh-1 text-muted">Outcome</p>
                                <p class="mb-0 fw-bold metric-outcome">All</p>
                            </div>
                            <div class="col-8 border-top border-bottom border-grey-100 position-relative">
                                <div class="forest-point bg-primary position-absolute" style="width: 25px;height: 5px;top: 50%;left: 63%;"></div>
                                <div class="row  h-100 position-relative">
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                    <div class="col-4  h-100 position-relative">
                                        <div class="bg-gray-200 h-100 position-absolute" style="padding:0 0.5px; width: 0; left:50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-4 text-center">1</div>
                                    <div class="col-4 text-center">3</div>
                                    <div class="col-4 text-center">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer"></div>
