---
layout: default
---
{% include header.html %}
<div class="py-5 py-lg-8 bg-teal-100">
    <div class="container">
        <h1 class="display-2 mb-3">Stop and Search</h1>
        <p class="fs-4" style="max-width: 26em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>

<div class="py-5">
    <div class="container mt-lg-3">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="mb-4 text-primary">National data explorer</h2>
                <p style="max-width: 30em;">Browse and breakdown data by ethnicity</p>
                <ul class="mb-4 list-unstyled">
                    <li class="my-1 d-flex align-items-center">
                        {% include icons/check.html width="1.2em" height="1.2em" classes="me-2 flex-grow-0 flex-shrink-0 text-green-400" %}
                        <span><strong class="text-primary">Stop rates</strong></span>
                    </li>
                    <li class="my-1 d-flex align-items-center">
                        {% include icons/check.html width="1.2em" height="1.2em" classes="me-2 flex-grow-0 flex-shrink-0 text-green-400" %}
                        <span><strong class="text-primary">Outcomes of stops</strong></span>
                    </li>
                    <li class="my-1 d-flex align-items-center">
                        {% include icons/check.html width="1.2em" height="1.2em" classes="me-2 flex-grow-0 flex-shrink-0 text-green-400" %}
                        <span><strong class="text-primary">Reasons for stops</strong></span>
                    </li>
                </ul>
                <a href="{{ '/explore' | relative_url }}" class="btn btn-lg btn-primary">Start exploring</a>
            </div>

            {% comment %} <div class="col-lg-6 mb-5 ps-lg-5">
                <h2 class="mb-4 text-primary">Jump to an area</h2>
                <p class="mb-4" style="max-width: 26em;">See detailed data about a parliamentary constituency and its MP, including group memberships, opinion polling, and local presence in the area.</p>
                <label class="form-label" for="search">Search by constituency name, MP name, or postcode</label>
                <form class="row mt-2 mb-2" style="max-width: 30rem;" action="{{ '/area' | relative_url }}">
                    <div class="col">
                        <div class="search-input search-input-lg">
                            {% include icons/search.html %}
                            <input type="search" id="search" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-lg">Search</button>
                    </div>
                </form>
                <a class="d-flex align-items-center btn btn-link px-0" href="{{ '/area' | relative_url }}">
                    {% include icons/geolocate.html classes="me-2" %}
                    Use my current location
                </a>
            </div> {% endcomment %}

            <div class="col-lg-6 mb-5 ps-lg-5">
                <h2 class="mb-4 text-primary">Jump to an area</h2>
                <p class="mb-4" style="max-width: 26em;">See detailed data about a parliamentary constituency and its MP, including group memberships, opinion polling, and local presence in the area.</p>
                <label class="form-label" for="search">Search by constituency name, MP name, or postcode</label>
                <form class="row mt-2 mb-2" style="max-width: 30rem;" action="{{ '/area' | relative_url }}">
                    <div class="col">
                        <div class="search-input search-input-lg">
                            {% include icons/search.html %}
                            <input type="search" id="search" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-lg">Search</button>
                    </div>
                </form>
                <a class="d-flex align-items-center btn btn-link px-0" href="{{ '/area' | relative_url }}">
                    {% include icons/geolocate.html classes="me-2" %}
                    Use my current location
                </a>
            </div>
        </div>
    </div>
</div>

<div class="footer"></div>
