<div class="modal fade wide-modal" tabindex="-1" id="addData">
    <div class="modal-dialog shadow-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5 lh-1">Add data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-4 mb-md-0">
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action js-add-dataset">
                                <strong>Black stop rate</strong>
                                <small class="d-block">Total supporters across all TCC member organisations, in this constituency</small>
                            </div>
                            <div class="list-group-item list-group-item-action js-add-dataset">
                                <strong>White stop rate</strong>
                                <small class="d-block">Level of reported contact between TCC members and this constituency’s MP</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
window.datasets = [{
    name: "Black stop rate",
    comparators: [
        "is less than",
        "is more than"
    ],
    defaultValue: "50"
}, {
    name: "White stop rate",
    comparators: [
        "is less than",
        "is more than"
    ],
    defaultValue: "50"
}]
</script>
