<div class="row mb-4">
  <div class="col-12 col-lg-6">
    <dl>
      {% comment %} I want to give each country/local government their
      own colour so it's more visually distinctive {% endcomment %}
        <dt class="fs-m6 fw-bold">Country</dt>
        <dd class="mb-4 badge bg-success">England</dd>

        <dt class="fs-m6 fw-bold">Region</dt>
        <dd class="mb-4 badge bg-success">North England</dd>
    </dl>
  </div>
  <div class="col-12 col-lg-6">
    <dl>
        <dt class="fs-m6 fw-bold">Police commissioner</dt>
        <dd class="mb-4">John Doe</dd>
        <dt class="fs-m6 fw-bold">Police Force</dt>
        <dd class="mb-2">North East</dd>
    </dl>
    <a href="#local-government-section " class="btn btn-sm btn-secondary">Check local goverment</a>

  </div>
</div>
