<h3 id="local-government-section" class="mb-4">Local Government</h3>
<div class="d-flex justify-content-between flex-wrap">
  <dl class="d-flex flex-row flex-nowrap align-items-center mb-4">
    <img class="rounded-circle me-2" width="75" height="75" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
    <div>
      <dt class="fs-m6 fw-bold text-muted">Local MP</dt>
      <dd class="mb-0">John Doe</dd>
      <dd class="fs-m6 fw-bold">Birmingham, Ladywood</dd>
    </div>
  </dl>

  <dl class="d-flex flex-row flex-nowrap align-items-center mb-4">
    <img class="rounded-circle me-2" width="75" height="75" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
    <div>
      <dt class="fs-m6 fw-bold text-muted">Local MP</dt>
      <dd class="mb-0">John Doe</dd>
      <dd class="fs-m6 fw-bold">Birmingham, Ladywood</dd>
    </div>
  </dl>

  <dl class="d-flex flex-row flex-nowrap align-items-center mb-4">
    <img class="rounded-circle me-2" width="75" height="75" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
    <div>
      <dt class="fs-m6 fw-bold text-muted">Local MP</dt>
      <dd class="mb-0">John Doe</dd>
      <dd class="fs-m6 fw-bold">Birmingham, Ladywood</dd>
    </div>
  </dl>
</div>
<div class="row mt-3 mb-6">
  <div class="col-12 col-lg-6">
    <div class="bg-green-100 p-3">
      <h3 class="fs-6 mb-1">Are any of them your representative?</h3>
      <p class="fs-6">You can write to them</p> 
      {% comment %} It would be cool if we can add the post code when checking an area. Not sure if that is possible {% endcomment %}
      <a href="https://www.writetothem.com/who?pc=B2+4QA" class="btn btn-primary btn-sm">Go to WriteToThem</a>
    </div>
  </div>
</div>
