<div>
  <!-- Reason for search -->
  <div class="modal fade" id="reasonForSearchModal" tabindex="-1" aria-labelledby="reasonForSearchLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reasonForSearchLabel">Reason for search</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Reason for the search describes the thing the officer is looking for. For example, an officer suspecting someone of having drugs in their possession may record “controlled drugs” as the reason for the search. The most common reason for stop and search is “controlled drugs”, which in 2019-2021 made up 57% of searches. Other examples include “Firearms” and “Stolen goods”.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Legislation -->
    <div class="modal fade" id="legislationModal" tabindex="-1" aria-labelledby="legislationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="legislationLabel">Legislation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Legislation describes the legal power the officer used to make the stop. For example, <a href="https://www.legislation.gov.uk/ukpga/1971/38/section/23">section 23(2) of the Misuse of Drugs Act 1971</a> provides the power to stop and search someone suspected of being in possession of a controlled drug. This is the most-used legislation for stops in England and Wales; in the period 2019-2021, 64% of all stop and searches were made under section 23 of the Misuse of Drugs Act 1971.</p>


            <p>The second-most-used legal power in stop and search is  <a href="https://www.legislation.gov.uk/ukpga/1984/60/section/1">section 1 of the Police and Criminal Evidence Act 1984</a>. This was used in 32% of stops in the period 2019-2021. Section 1(2)(a) provides the power for officers to stop and search people for stolen or prohibited objects (e.g., weapons or equipment that will be used to steal or cause criminal damage), points and blades, or fireworks. Section 1(2)(b) provides the power to detain individuals for the search. Section 1(3) specifies that police only have power to search if there are reasonable grounds to suspect that the object of interest will be found.</p>

            <p>Link to another page with legislations explained:</p>
            <ul>
              <li><a href="https://www.legislation.gov.uk/ukpga/1968/27/section/47/enacted#:~:text=47Powers%20of%20constables%20to%20stop%20and%20search&text=to%20hand%20over%20the%20firearm,(1)%20of%20this%20section">Firearms Act 1968 section 47</a> grants officers power to stop and search someone who they reasonably suspect to possess a firearm in a public place.</li>

              <li><a href="https://www.legislation.gov.uk/ukpga/1988/33/section/139B/2000-08-25#:~:text=139BF1Power%20of%20entry,E%2BW%2BN.I.&text=(b)any%20offensive%20weapon%20within,%2C%20or%20has%20been%2C%20committed">Criminal Justice Act 1988 section 139B</a> confers power to enter school premises and search those premises and any person on them for articles with a blade or point and offensive weapons.</li>
              <li><a href="https://www.legislation.gov.uk/ukpga/1994/33/section/60">Criminal Justice and Public Order Act 1994 section 60</a> grants officers of inspector rank or above power to authorise officers to stop and search people even with no reasonable grounds for suspicion in an area for 24 hours, if they believe that incidents involving serious violence are likely to occur within the area.</li>
              <li><a href="https://www.legislation.gov.uk/ukpga/Vict/25-26/114/contents#:~:text=2.,being%20found">Poaching Prevention Act 1862</a> grants officers power to stop and search someone they suspect has been unlawfully hunting animals.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Outcome -->
    <div class="modal fade" id="outcomeModal" tabindex="-1" aria-labelledby="outcomeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="outcomeLabel">Outcome</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            The outcome describes what happened as a result of the search. This could be a “No further action disposal”, where no further action is taken, “arrest”, “caution”, “community resolution”, “khat or cannabis warning”, “penalty notice for disorder”, “summons/charged by post”.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
