<div class="modal fade" tabindex="-1" ref="modal">
    <div class="modal-dialog shadow-lg">
        <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title h5 lh-1">Add ${ currentType }</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-4 mb-md-0">
                        <div class="list-group">
                            <button v-for="filter in filters" @click="addFilterOrShader(filter.name)" class="list-group-item list-group-item-action">
                                <strong class="me-auto pe-3">${ filter.title }</strong>
                                <small class="d-block text-muted fs-8">${ filter.desc }</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
