
<div class="d-flex align-items-center">
    <a href="{{ '/' | relative_url }}" class="navbar-brand fs-5 fw-bold text-white">
        {% include icons/stop-search-logo-white.html width="7em" height="3em" classes="" %}
        <span class="visually-hidden">Stop and Search logo</span>
    </a>
    <ul class="nav list-unstyled ms-auto d-none d-lg-flex">
        <li class="nav-item">
            <a class="nav-link" href="{{ '#home-search' | relative_url }}">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ '/explore' | relative_url }}">Map</a>
        </li>
    </ul>
</div>
