<section id="local-government-section" class="py-6">
  <h3  class="fs-4 mb-4">
    <span class="align-bottom me-1">Local government</span>
    <span class="badge bg-info js-area-name">{{ page.title }}</span>
  </h3>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-2 g-4 mb-4">
    <div class="col">
      <div class="card overflow-hidden h-100">
        <div class="card-body text-bg-primary d-flex flex-column align-items-baseline justify-content-center">
          <h3 class="fs-2 d-md-none">Is this your representative?</h3>
          <h3 class="fs-3 d-none d-md-block d-lg-none">Is this your representative?</h3>
          <h3 class="fs-5 d-none d-lg-block">Is this your representative?</h3>
          <p class="fs-6">You can write to them</p>
          {% comment %} It would be cool if we can add the post code when checking an area. Not sure if that is possible {% endcomment %}
          <a href="https://www.writetothem.com/who?pc=B2+4QA" class="btn btn-light btn-sm">Go to WriteToThem</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card overflow-hidden">
        <div class="row g-0">
          <div class="col-lg-4">
            <img style="object-fit:cover;" width="100%" height="100%" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <dl class="mb-3">
                <dt class="fs-6 fw-bold">Local MP</dt>
                <dd class="mb-0 fs-5">John Doe</dd>
              </dl>

              <div class="d-flex flex-row flex-wrap gap-3" style="opacity:85%">
                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/twitter.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Twitter</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/facebook.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Facebook</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/wikipedia.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Wikipedia</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card overflow-hidden">
        <div class="row g-0">
          <div class="col-lg-4">
            <img style="object-fit:cover;" width="100%" height="100%" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <dl class="mb-3">
                <dt class="fs-6 fw-bold">Local MP</dt>
                <dd class="mb-0 fs-5">John Doe</dd>
              </dl>

              <div class="d-flex flex-row flex-wrap gap-3" style="opacity:85%">
                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/twitter.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Twitter</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/facebook.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Facebook</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/wikipedia.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Wikipedia</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card overflow-hidden">
        <div class="row g-0">
          <div class="col-lg-4">
            <img style="object-fit:cover;" width="100%" height="100%" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <dl class="mb-3">
                <dt class="fs-6 fw-bold">Local MP</dt>
                <dd class="mb-0 fs-5">John Doe</dd>
              </dl>

              <div class="d-flex flex-row flex-wrap gap-3" style="opacity:85%">
                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/twitter.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Twitter</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/facebook.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Facebook</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/wikipedia.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Wikipedia</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card overflow-hidden">
        <div class="row g-0">
          <div class="col-lg-4">
            <img style="object-fit:cover;" width="100%" height="100%" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <dl class="mb-3">
                <dt class="fs-6 fw-bold">Local MP</dt>
                <dd class="mb-0 fs-5">John Doe</dd>
              </dl>

              <div class="d-flex flex-row flex-wrap gap-3" style="opacity:85%">
                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/twitter.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Twitter</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/facebook.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Facebook</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/wikipedia.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Wikipedia</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card overflow-hidden">
        <div class="row g-0">
          <div class="col-lg-4">
            <img style="object-fit:cover;" width="100%" height="100%" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <dl class="mb-3">
                <dt class="fs-6 fw-bold">Local MP</dt>
                <dd class="mb-0 fs-5">John Doe</dd>
              </dl>

              <div class="d-flex flex-row flex-wrap gap-3" style="opacity:85%">
                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/twitter.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Twitter</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/facebook.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Facebook</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/wikipedia.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Wikipedia</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card overflow-hidden">
        <div class="row g-0">
          <div class="col-lg-4">
            <img style="object-fit:cover;" width="100%" height="100%" src="{{ '/static/img/mp.jpg' | relative_url }}" alt="John Doe profile pic">
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <dl class="mb-3">
                <dt class="fs-6 fw-bold">Local MP</dt>
                <dd class="mb-0 fs-5">John Doe</dd>
              </dl>

              <div class="d-flex flex-row flex-wrap gap-3" style="opacity:85%">
                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/twitter.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Twitter</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/facebook.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Facebook</span>
                </a>

                <a href="" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                  {% include icons/wikipedia.html width="1.5em" height="1.5em" classes="me-1 flex-grow-0 flex-shrink-0" %}
                  <span>Wikipedia</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
