// Color system

$yiq-contrasted-threshold: 128; // Value from 0 to 255

// Primary
$white: #FFFFFF;
$orange: #F18D21;
$black: #000000;

// Secondary
$gray-100:   #FFFFF0;
$gray-900:   #1F2525;
$blue:       #5B81C9;
$purple:     #7A72BD;
$green:      #369694;
$teal:       #85DBD9;
$teal-900:   #046563;
$orange-900: #BB521E;
$pink:       #FDE9FF;
$yellow:     #FFD483;

// Fonts: Primary font is Avalon, secondary is Archivo, and tertiary is Roboto.
$primary: $teal-900;
$info: darken($purple, 10%);
// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

$spacer: 1rem;
$spacers: (
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6),
    9: ($spacer * 7),
    10: ($spacer * 8)
  )
);

// Position

// Body

// Utilities maps

// Links

$link-color: $teal-900;
$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);

// Paragraphs

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Grid columns

// Container padding

// Components

// Typography
$enable-responsive-font-sizes: true;
$headings-font-family: 'Archivo', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: 'Roboto', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 800;
$headings-line-height: 1.1;

$display-font-weight: 800;

$lead-font-weight: 500;

$legend-font-size: 1rem;
$font-size-base: 1rem;
$h1-font-size:  $font-size-base * 5.5;
$h1-font-size-m1:  $font-size-base * 3;
$h2-font-size:  $font-size-base * 2;
$h3-font-size:  $font-size-base * 1.75;
$h4-font-size:  $font-size-base * 1.5;
$h5-font-size:  $font-size-base * 1.25;
$h6-font-size:  $font-size-base;
$h6-font-size-m6:  $font-size-base * 0.85;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  m1: $h1-font-size-m1,
  m6: $h6-font-size-m6
);

// Tables

// Buttons + Forms

// Buttons

$btn-font-weight: bold;
$btn-border-width: 2px;

// Forms

$form-label-font-weight: bold;

// Form validation

// Z-index master list

// Navs

// Navbar
$nav-link-padding-y: 0.75rem;
$nav-link-color: $white;
$nav-link-hover-color: $teal;
$navbar-nav-link-padding-x: 0.75rem;
// $dropdown-link-color:               $black;
// $dropdown-link-hover-color:         $white;
// $dropdown-link-hover-bg:            $black;

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

$modal-title-line-height: 1;

// Alerts

// Progress bars

// List group

$list-group-action-hover-color: $link-hover-color;

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
